# Introduction to Data Science
## Homework 2

Student Name: Hongxu Hao

Student Netid: hh2302
***

### Part 1: Case study (5 Points)
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

Place your answer here!

Problem Formulation: 

The first thing we should do is to define the problem more formally,We know in general we want to improve sales of maternal and child products and this could be implemented in several ways:

1, The basic assumption is that people tend to keep their shopping behaviors if there's no big change around them.  

2, figure out if a customer is pregnant, we can do it by observe their shopping behaviors in target since we know people are probably change their shopping behaviors when they are pregnant. And in this article, we know that though their shopping behaivor changed, they probably would not change the shopping location, thus we can assume they will still purchase products in a same location. Otherwise, our observation would be invalid.

3,Make some ads about baby products to the pregnant customers before they give birth, otherwise, after they give birth, the birth record will be public, then other makerts may make some ads to them and the market compettion will become higher.

4, how to add some other unrelated items on this ad so that will not cause the discomfort of the pregnant, and then they will accept our ads and purchase our products.

Predictive modeling:

1, We need to first find a label of pregnant customer. In the problem formulation part, we have already talked about observing their changing behaviors to decide whether they are pregnant. In the article, we know that Target have a registry which can be used to observe and test pregnant customers.

2, Then we need to find features. We could make the shopping items in the past as the features, and we can divde these features into different groups according to different seasons. Since pregnancy in winter is much different from pregnancy in summer.

3, For algorithms, since our data is already been labeled, we should use supervised learning. As for which supervised learning we should use, we should train the dataset by different models and compare them according to different accuracy and choose the best one.

Evaluation：

1, We should evaluate our model by cross validation.

2, Besides, we should also test the robust of our model, that is, it will not change much as the external factors change, for example, if the price of baby product increase, our model should not change too much. 

Improvement：

1, We should pay attention to how to predict when they give birth. Since during different period of pregnancy, the customer would tend to purchase different items, thus we could build a model to explore the relationship between birth time and their purchase.

2, We should also consider the number of time the customer have pregnancy, we can get this public data from hospital and train our model by these data to improve the accuracy. Since if this is the second time the customer pregnancy, she would probably refer to her previous experience.

3,People with different culture background will also have influence to our model, thus we should divide the the pregnant into different groups    according to their races and religious belief.

### Part 2: Exploring data in the command line (4 Points - 1 each)
For this part we will be using the data file located in `"advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell in your terminal and then just paste your answers here. Recall that once you enter the "!" then filename completion should work. Also, these are standard data exploration commands that are quick and easy to use in a terminal or in the notebook. We don't cover command line operations formally in this class, but these are worth learning (and thus are part of the HW). Be resourceful. Use whatever online cheat sheets or Stackoverflow to answer the question.]

1\. How many records (lines) are in this file (look up wc)?

In [6]:
# Place your code here
!wc -l advertising_events.csv

   10341 advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [7]:
# Place your code here
!cut -f1 -d',' advertising_events.csv | sort | uniq | wc -l

     732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [40]:
# Place your code here
!cut -f3 -d',' advertising_events.csv | sort | uniq -c|sort -n -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [9]:
# Place your code here
!grep -w '37' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically (16 Points)

In [2]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [3]:
# Place your code here
ads=pd.read_csv('/Users/youxia/Desktop/Fall2019/dsga1001/hw2/ads_dataset.tsv', sep='\t', header=0)
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [3]:
def getDfSummary(input_data):
    # Place your code here
    df=pd.DataFrame(input_data)
    newdf=df.describe().transpose()
    number_nan=df.shape[0]-df.count()
    newdf['count']=number_nan
    number_distinct=df.nunique()
    newdf.insert(1, 'number_distinct', number_distinct)
    newdf.rename(columns = {'count':'number_nan'}, inplace = True)
    output_data=newdf
    
    return output_data


3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [4]:
# Place your code here
%timeit getDfSummary(ads)

134 ms ± 10.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [5]:
# Place your code here
df1=getDfSummary(ads)
for column in df1.index[df1['number_nan']>0]:
    print(column)

buy_freq

Thus, from the result, we know but_freq contain missing NaN values.

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [7]:
# Place your code here
ads_nullvalue= ads[ads.isnull().values==True]
getDfSummary(ads_nullvalue)

,number_nan,number_distinct,mean,std,min,25%,50%,75%,max
isbuyer,0,1,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
buy_freq,52257,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
visit_freq,0,48,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000
buy_interval,0,1,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
sv_interval,0,5112,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670
expected_time_buy,0,1,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
expected_time_visit,0,13351,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192
last_buy,0,189,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000
last_visit,0,189,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000
multiple_buy,0,1,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
multiple_visit,0,2,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000
uniq_urls,0,207,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000
num_checkins,0,4570,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000
y_buy,0,2,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000

From this output, I think the data is not missing at random since I notice when isbuyer, buy_interval, expected_time_buy, multiple_buy are 0, buy_freq is missing. Explaination: it is clearly that buy_freq means the frequency of purchasing, thus when there's no purchase happened, then that must be 0=isbuyer=buy_interval=expected_time_buy=multiple_buy=0, then the buy_freq must be missing. Hence, when there's no purchase happened, there would be many missing values for variable buy_freq.

6\. Which variables are binary?

In [13]:
# Place your code here
df1 = getDfSummary(ads)

for column in df1.index[(df1['max'] == 1) & (df1['min'] == 0) & (df1['number_distinct'] == 2)]:
    print(column)

isbuyer
multiple_buy
multiple_visit
y_buy

In [14]:
arr = np.arange(100)
arr[:10]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])